---
interface Props {
    imageUrl: string;
    linkToSend: string;
    className?: string;
    buttonId?: string;
}


const { imageUrl, linkToSend, className = "", buttonId = `button-${Math.random()}`} = Astro.props;
---

<button
    id={buttonId} 
    onclick={`window.location.href='${linkToSend}'`}
    class={className}
>
    <img src={imageUrl} alt="button icon" />
</button>
